<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>794494572207-4cr4755j5rjcfhjcaunf5rtlor87h7nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794494572207-4cr4755j5rjcfhjcaunf5rtlor87h7nq</string>
	<key>API_KEY</key>
	<string>AIzaSyAlt3hxL-5gDm8xSXX5zkiznSJ55m18Xfg</string>
	<key>GCM_SENDER_ID</key>
	<string>794494572207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.scopus.DenApp</string>
	<key>PROJECT_ID</key>
	<string>denapp-55153</string>
	<key>STORAGE_BUCKET</key>
	<string>denapp-55153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794494572207:ios:fdfe9e9e36ea7f61</string>
	<key>DATABASE_URL</key>
	<string>https://denapp-55153.firebaseio.com</string>
</dict>
</plist>